{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "svelteBracketNewLine": true,
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "avoid",
  "printWidth": 120,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
