div.Bush, div.Kerry, div.stateheader {
	font-family: Sans-Serif;
	font-size: 11px;
	line-height: 12px;
	color: #fff;
	position: relative;
	width: 500px;
	background-color: #ccc;
	margin-bottom: 1px;
}

.noinfo div.Bush, .noinfo div.Kerry, .noinfo div.stateheader {
	margin-bottom: 0px;
}

div.stateheader {
	background-color: #999;
	font-weight: bold;
	height: 23px;
}

div.fill {
	position: absolute;
	width: 500px;
	left: 0px;
	top: 0px;
}

.pad {
	display: block;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

div.winner, div.loser {
}

div.winner { float: left; text-align: right; }
div.loser { float: right; }

.noinfo .Kerry .winner { float: right; }
.noinfo .Kerry .loser { float: left; }

div.stateinfo {
	position: absolute;
	width: 500px;
	left: 0px;
	top: 0px;
}

div.statename {
	float: left;
	padding-left: 5px;
	font-weight: bold;
}

div.ev {
	float: right;
	padding: 1px;
	padding-right: 5px;
	font-weight: bold;
}

div.Bush div.winner { background-color: #c00;}
div.Bush div.loser { background-color: #00f; color: #fff;}
div.Kerry div.winner { background-color: #00f; color: #fff;}
div.Kerry div.loser { background-color: #c00;}
div.Kerry div.statename { color: #fff;}
div.Bush div.ev { color: #fff;}

div.noinfo {
	line-height: 1px;
}

