.page {
	display: flex;
	flex-direction: row;
	align-items: center;

	.page-card {
		flex: 1;
		background-color: white;
		padding: 1em;
		box-sizing: border-box;
		border: 1px solid fade(black, 30%);
		border-radius: 4px;
		width: fit-content;
		height: fit-content;
		min-height: 40px;
		transition: all 0.1s ease-in-out;
		position: relative;
	}

	&:not(.active) {
		.page-card {
			margin-right: 24px;
			&::after {
				position: absolute;
				display: block;
				content: '';
				height: 1px;
				width: 24px;
				background-color: black;
				top: 50%;
				left: 100%;
			}
		}
		.connections {
			border-left: 1px solid black;
		}
	}

	.page-card {
		margin-left: 24px;
		&::before {
			position: absolute;
			display: block;
			content: '';
			height: 1px;
			width: 24px;
			background-color: black;
			top: 50%;
			right: 100%;
		}
	}

	.connections {
		opacity: 0.7;
		pointer-events: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1em;

		&:has(.page.active) {
			border-left: none;
		}
	}

	.add-connection {
		display: none;
		background-color: white;
		padding: 1em;
		padding-right: 1.25em;
		box-sizing: border-box;
		border: 1px solid fade(black, 30%);
		border-radius: 4px;
		margin: 0;
		margin-left: 24px;
		width: auto;
		appearance: none;
		font-weight: bold;
		&:empty::before {
			font-weight: normal;
			content: 'Add page';
			opacity: 0.5;
		}
	}

	&.active {
		> .page-card {
			min-height: 80vh;
			width: calc(80vh * 0.75);
			box-shadow: 0 4px 4px fade(black, 10%);
		}

		> .connections {
			opacity: 1;
			pointer-events: all;
		}
		> .connections > .add-connection {
			display: inline-block;
		}
	}

	&:not(.active) {
		> .page-card {
			cursor: pointer;
		}
		.title {
			white-space: nowrap !important;
			overflow: hidden !important;
			text-overflow: ellipsis !important;
		}
	}

	.connections:has(.page.active) {
		> .page:not(.active) {
			display: none;
		}
		> .add-connection {
			display: none;
		}
	}
}
