// combination of
// https://github.com/TomTilly/css-reset/blob/main/src/reset.css
// https://andy-bell.co.uk/a-more-modern-css-reset/

// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Prevent font size inflation
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

// Allow percentage-based heights in the application
:where(:is(html, body)) {
  height: 100%;
}

// Remove default margin
:where(:is(body, h1, h2, h3, h4, h5, p, figure, blockquote, dl, dd)) {
  margin: 0;
}

:where(:is(p, h1, h2, h3, h4, h5, h6)) {
  overflow-wrap: break-word;
}

// Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
:where(:is(ul[role='list'], ol[role='list'])) {
  list-style: none;
}

// Make images easier to work with
// Make images easier to work with
:where(:is(img, picture, video, canvas, svg)) {
  max-width: 100%;
  display: block;
}

// Inherit fonts for inputs and buttons
:where(:is(input, textarea, select)) {
  font: inherit;
  color: inherit;
}

// Remove button appearance from any button with unstyled class
:where(button.unstyled) {
  border: unset;
  appearance: unset;
  background-color: unset;
  margin: unset;
  padding: unset;
  font: inherit;
  color: inherit;
}

// Make sure textareas without a rows attribute are not tiny
:where(textarea:not([rows])) {
  min-height: 10em;
}

// Anything that has been anchored to should have extra scroll margin
:target {
  scroll-margin-block: 5ex;
}

// Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
