/* Variables and mixins declared here will be available in all other LESS files */
@blue: steelblue;

@weight-light: 300;
@weight-normal: 400;
@weight-semibold: 500;
@weight-bold: 600;

@button-primary-fill: @blue;
@button-secondary-fill: white;
@button-danger-fill: hsla(0, 65%, 60%, 1);
@button-success-fill: hsla(155, 80%, 35%, 1);

@mobile-threshold: 640px;
@mobile: ~'(max-width: @{mobile-threshold})';
@not-mobile: ~'(min-width: @{mobile-threshold})';
@desktop-threshold: 1024px;
@desktop: ~'(min-width: @{desktop-threshold})';
@not-desktop: ~'(max-width: @{desktop-threshold})';

@sans-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
	'Helvetica Neue', sans-serif;
@mono-font: Andale Mono, Andale, Monaco, Lucida Console, Courier, Sans-Serif;

.rotated-shadow {
	position: relative;

	> :first-child {
		transform: rotate(var(--deg, 0deg));
		z-index: 1;
	}
	&::after {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
		background-color: fade(black, 150%);
		box-shadow: 0 5px 50px rgba(0, 0, 0, 0.25);
		transform: translateX(0.1em) translateY(5px) rotate(calc(var(--deg, 0deg) - 1deg));
		filter: blur(5px);
		z-index: -1;
		opacity: 0.2;
	}
}
